apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ror-cluster-agent.fullname" . }}-v1
  labels:
    {{- include "ror-cluster-agent.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "ror-cluster-agent.selectorLabels" . | nindent 6 }}
  revisionHistoryLimit: 2
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "ror-cluster-agent.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "ror-cluster-agent.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: LOG_LEVEL
              value: {{ .Values.debuglevel }}
            - name: ROR_URL
              value: {{ .Values.api }}
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: SECRET_NAME
              value: {{ .Values.secretname }}
            - name: GOMEMLIMIT
              value: {{ .Values.agent.memoryLimit | default "200Mi" | quote }} 
            - name: ROR_DYNAMIC_WATCH_NO_CACHE
              value: {{ .Values.agent.noCache | default "true" }}
            - name: "ROR_FORCE_GC_AFTER_INITIAL_LIST"
              value: {{ .Values.agent.forceGCAfterInitialList | default "false" }}
            - name: "ROR_FORCE_GC_AFTER_INITIAL_LIST_FREE_OS_MEMORY"
              value: {{ .Values.agent.forceGCAfterInitialListFreeOSMemory | default "false" }}
            - name: "ROR_FORCE_GC_AFTER_INITIAL_LIST_MIN_INTERVAL_SECONDS"
              value: {{ .Values.agent.forceGCAfterInitialListMinIntervalSeconds | default "2" }}
          ports:
            - name: liveness-probe
              containerPort: 8100
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: 8100
          readinessProbe:
            httpGet:
              path: /health
              port: 8100
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
